* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'OpenSans', sans-serif;
  color: black;
}

@font-face {
  font-family: 'DMSans';
  src: url('./assets/fonts/DMSans-VariableFont_opsz\,wght.ttf') format('truetype');
}

@font-face {
  font-family: 'OpenSans';
  src: url('./assets/fonts/OpenSans-VariableFont_wdth\,wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Perandory';
  src: url('./assets/fonts/PerandoryRegular.woff2') format('woff2');
}
